.addProject {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000004a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
}

.addProjectContainer {
    background-color: #fff;
    width: 370px;
    padding: 20px;
    border-radius: 10px;
}

.addProjectContainer h3 {
    margin-bottom: 20px;
}

.addProjectContainer input,
select {
    width: 100%;
    height: 35px;
    margin: 5px 0;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.354);
    padding-inline: 10px;
}

.addProjectContainer p {
    font-size: 14px;
    margin-top: 10px;
}

.addProjectDate {
    display: flex;
    justify-content: space-between;
}

.addProject .addProjectBtn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.addProjectBtn button {
    width: 30%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #3663EB;
    color: white;
    margin-top: 10px;
}

.addProjectMember p span {
    font-weight: 700;
}
