.dashboard {

    max-width: calc(100% - 20%);
    /* height: calc(100vh - 70px); */
    margin: 100px 0 0 20%;
    box-sizing: border-box;
    padding-inline: 15px;
    
    padding-bottom: 80px;


}

.dashboard h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.summaryBox {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dashboardContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.projectCardContainer {
    width: 33%;
}

.taskCardContainer {
    width: 65%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 2%;
}