.dashboard {

    max-width: calc(100% - 15%);
    /* height: calc(100vh - 70px); */
    margin: 100px 0 0 15%;
    box-sizing: border-box;
    padding-inline: 15px;

    padding-bottom: 80px;


}

.dashboard h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.summaryBox {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dashboardContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.projectCardContainer {
    width: 100%;
}
.dashProjectBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashTaskBox {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 2%;
}

.dashboard h3 {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    background-color: #fff;
}

.pageLoaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

@media (max-width:1250px) {
    .dashboard {
        max-width: calc(100% - 18%);
        margin: 100px 0 0 18%;
        box-sizing: border-box;
        padding-inline: 15px;
        padding-bottom: 80px;
    }
}