.header {
    height: 70px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    position: fixed;
    top: 0;
    z-index: 100;

}

.logo {
    width: 150px;
}

.logo:hover {
    opacity: 1;
}

.logo img {
    width: 100%;
}

.navIcons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navIcons i {
    font-size: 25px;
    cursor: pointer;
}

.navIcons i:hover {
    opacity: .8;

}

.profileIcon {
    text-decoration: none;
}

.profileIcon span {
    background-color: #3663EB;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
}

.logout {
    height: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: hsl(0, 69%, 44%);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.logout:hover {
    background-color: #e14d4d;
}