.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 1000;
}

.login-box {
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 0.75rem 1.5rem;
    background-color: #3663EB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.loginBtn:hover {
    background-color: #488DEB;
}

.resetPassLink{
    color: #3663EB;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.resetPassLink:hover{
    color: #488DEB;
}