.projectCard {
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.projectCardHead {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

}
.projectName{
    text-decoration: none;
    color: black;
}
.projectCard .projectName>p:first-child {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.projectCard .projectName>p:nth-child(2) {
    font-size: 16px;
    opacity: .8;
    text-decoration: none;
    color: blac
}

.projectStatus {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.projectStatus>p:nth-child(1) {
    font-size: 14px;
    background-color: #D6E4FC;
    color: rgb(5, 5, 209);
    padding: 5px 10px;
    border-radius: 5px;
}

.projectStatus>p:nth-child(2) {
    font-size: 14px;
    font-weight: 600;
    color: #c51717;
    display: flex;
    gap: 5px;
    align-items: center;
    text-transform: capitalize;
}


.projectStatus>p:nth-child(2) span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #c51717;
    border-radius: 50%;
}

.projectTask {
    border-top: 1px solid #00000059;
    border-bottom: 1px solid #00000059;
    padding: 10px 0;
    margin-bottom: 20px;
}

.projectTask p span {
    opacity: .8;
}

.projectTask p {
    font-size: 14px;
    font-weight: 700;
}

.projectDueDate p {
    border: 2px solid rgba(197, 23, 23, 0.801);
    color: #c51717;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    opacity: .8;
}

.addTaskBtn {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.addTaskBtn p {
    color: #045104;
    font-size: 14px;
    font-weight: 700;
    /* border: 2px solid #045104c3; */
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}







input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #007bff 80%, #ddd 0%);
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #007bff 80%, #ddd 0%);
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 0;
    height: 0;
    background: transparent;
    cursor: pointer;
}