.projects{
    max-width: calc(100% - 15%);
    /* min-height: calc(100vh - 70px);  */
    margin: 100px 0 0 15%;
    box-sizing: border-box;
    padding-inline: 15px;
    padding-bottom: 80px;
    
}
.projects h2{
    font-size: 25px;
    font-weight: 600;
}
.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
@media (max-width:1250px) {
    .projects {
        max-width: calc(100% - 18%);
        margin: 100px 0 0 18%;
        padding-inline: 15px;
    }
}