.summaryCard {
    width: 32%;
    height: fit-content;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.388);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.summaryCardBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.summaryCardTitle {
    opacity: .8;
    font-weight: 700;
    font-size: 18px;
}

/* .summaryCardQuantity{
    display: flex;
    justify-content: space-between;
    align-items: center;

} */
.summaryCardQuantity {
    font-size: 20px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryCardIcon {
    background-color: #2C4FD8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}