.summaryCard {
    width: 25%;
    height: fit-content;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.388);
    padding: 20px;
}
.summaryCardTitle{
    opacity: .8;
}
.summaryCardQuantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */

}
.summaryCardQuantity p{
    font-size: 20px;
    font-weight: 700;
}
.summaryCardQuantity div{
    background-color: #2C4FD8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.prevTask{
    opacity: .8;
    font-size: 14px;
}