.taskDetail {
    max-width: calc(100% - 20%);
    /* height: calc(100vh - 70px); */
    margin: 100px 0 0 20%;
    box-sizing: border-box;
    padding-inline: 15px;

}

.taskDetailContainer {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.taskDetail .detailTaskTitle {
    opacity: 1;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}

.taskDetailContainer>div:nth-child(1) {
    width: 50%;
}

.taskDetailContainer>div:nth-child(2) {
    width: 50%;
}

.taskDetail h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
}

.taskStatus {
    width: 100%;
}

.taskStatus div {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.taskStatus div p:nth-child(1) {
    background-color: #BFDBFE;
    color: rgb(57, 57, 250);
    border-radius: 15px;
    padding: 5px 10px;
    width: fit-content;
}

.taskStatus div p:nth-child(2) span {
    background-color: #3663EB;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 5px;
}

.taskStatus>p {
    opacity: .8;
    margin: 40px 0;
}

.taskAttachement {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    border-top: 1px solid rgba(0, 0, 0, 0.144);
    padding: 15px 0;
    padding: 10px 10px;
}

.taskAttachement p span {
    font-weight: 700;
}

.taskTeam {
    margin-top: 40px;
}

.taskTeam>p {
    font-size: 16px;
    opacity: .8;
    font-weight: 700;
}

.teamMember {
    border-top: 1px solid rgba(0, 0, 0, 0.144);
    padding: 10px;
    margin-top: 20px;
}

.teamMember p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
}

.teamMember p:nth-child(2) {
    opacity: .9;
    font-weight: 600;
}

.subTask {
    margin-top: 40px;
    gap: 20px;
}

.subTask>div:nth-child(1) {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.subTask>div:nth-child(1) p {
    font-size: 18px;
    opacity: .8;
    font-weight: 700;
}

.subTask>div span {
    background-color: #E22D48;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    opacity: 1;
}

.subTaskCard div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
}

.subTaskCard div:first-child p {

    opacity: .8;
}

.subTaskCard div:first-child span {
    background-color: #fcf7da;
    color: #DA792F;
    opacity: .8;
}

.subTaskAddBtn {
    margin: 20px 0 40px 0;
    display: flex;
    gap: 20px;
}


.subTaskAddBtn button {
    background-color: #c6c7c9;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;

}

.subTaskAddBtn button:hover {
    background-color: #D1FAE5;
}

.taskDesc {
    padding-inline: 20px;
}

.taskDesc h2 {
    margin-bottom: 20px;
    font-size: 20px;
}
.subtaskTitle{
    font-weight: 600;
    /* font-size: 14px; */
    margin-top: 20px;
}