 .task {
     max-width: calc(100% - 15%);
     /* height: calc(100vh - 70px); */
     margin: 100px 0 0 15%;
     box-sizing: border-box;
     padding-inline: 15px;
     padding-bottom: 80px;
 }

 .addtaskBtn {
     display: flex;
     justify-content: space-between;
 }


 .addtaskBtn p {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #3663EB;
     padding: 10px 20px;
     border-radius: 5px;
     color: white;
     gap: 10px;
     font-weight: 700;
     cursor: pointer;
 }

 .addtaskBtn p:hover {
     background-color: #488DEB;
 }

 .task h2 {
     font-size: 25px;
     font-weight: 600;
 }

 .taskHeaderTop {
     display: flex;
     gap: 1%;
 }

 .taskContainer {
     width: 100%;
     box-sizing: border-box;
     display: flex;
     flex-wrap: wrap;
     gap: 2%;
 }

 .TodoBox {
     width: 32%;
 }

 .inProgressBox {
     width: 32%;
 }

 .completedBox {
     width: 32%;
 }

 .taskHeader {
     width: 100%;
     background-color: #fff;
     display: flex;
     justify-content: space-between;
     padding: 0 20px;
     align-items: center;
     height: 50px;
     margin: 20px 0 40px;
 }

 .taskHeader p {
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .taskHeader p span {
     background-color: blue;
     display: inline-block;
     width: 13px;
     height: 13px;
     border-radius: 50%;
 }

 @media (max-width:1250px) {
     .task {
         max-width: calc(100% - 18%);
         margin: 100px 0 0 18%;
         box-sizing: border-box;
         padding-inline: 15px;
         padding-bottom: 80px;
     }
 }