.taskDetail {
    max-width: calc(100% - 15%);
    margin: 100px 0 0 15%;
    box-sizing: border-box;
    padding-inline: 15px;
    height: 100%;

}

.taskDetailTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;

}

.editTaskBtn,
.editBtn {
    text-decoration: none;
    width: fit-content;
    height: 40px;
    padding: 10px 20px;
    background-color: #3663EB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 10px;
    font-weight: 500;
    border-radius:5px ;
}

.editTaskBtn:hover {
    background-color: #358DEB;
}

.editBtn:hover {
    background-color: #358DEB;
}

.taskDetailContainer {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    min-height: calc(100vh - 170px);
}

.taskDetail .detailTaskTitle {
    opacity: 1;
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: capitalize;
}

.taskDetailContainer>div:nth-child(1) {
    width: 50%;
}

.taskDetailContainer>div:nth-child(2) {
    width: 50%;
}

.taskDetail h2 {
    font-size: 25px;
    font-weight: 600;
    /* margin-bottom: 40px; */
}

.taskStatus {
    width: 100%;
}

.taskStatus div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.taskStatus div p:nth-child(1) {
    background-color: #BFDBFE;
    color: rgb(57, 57, 250);
    border-radius: 15px;
    padding: 5px 10px;
    width: fit-content;
    font-weight: 600;
    font-size: 14px;
}

.taskStatus div p:nth-child(2)  {
    font-size: 14px;
    font-weight: 600;
}
.taskStatus div p:nth-child(2) span {
    background-color: #3663EB;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 5px;
}
.taskStatus button{
    padding: 10px 15px;
    width: fit-content;
}

.taskStatus>p {
    opacity: .8;
    margin: 40px 0;
}

.taskAttachement {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    border-top: 1px solid rgba(0, 0, 0, 0.144);
    padding: 15px 0;
    padding: 10px 10px;
}

.taskAttachement p span {
    font-weight: 700;
}

.taskTeam {
    margin-top: 40px;
}

.taskTeamTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.taskTeamTop p {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    gap: 20px;
}

.taskTeamTop p span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    width: 25px;
    height: 25px;
    font-size: 14px;
    border-radius: 50%;

}

.teamMember {
    border-top: 1px solid rgba(0, 0, 0, 0.144);
    padding: 10px 0px 10px 10px;
    margin-top: 20px;
}

.teamMember .delBtn {
    background-color: #be1c1c;
    color: white;
    width: fit-content;
    height: 30px;
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
}

.teamMember p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
}

.teamMember p:nth-child(2) {
    opacity: .9;
    font-weight: 600;
}

.subTask {
    margin-top: 40px;
    gap: 20px;
}

.subTask>div:nth-child(1) {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.subTask>div:nth-child(1) p {
    font-size: 18px;
    opacity: .8;
    font-weight: 700;
}

.subTask>div span {
    background-color: #E22D48;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    opacity: 1;
}

.subTaskCard {
    border-top: 1px solid rgba(0, 0, 0, 0.186);
    padding-top: 20px;
}

.subTaskCard div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
}

.subTaskCard div:first-child p {

    opacity: .8;
}

.subTaskCard div:first-child span {
    background-color: #fcf7da;
    color: #DA792F;
    opacity: .8;
}

.subTaskAddBtn {
    margin: 20px 0 40px 0;
    display: flex;
    gap: 20px;
}


.subTaskAddBtn button {
    background-color: #c6c7c9;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;

}

.subTaskAddBtn button:hover {
    background-color: #D1FAE5;
}

.taskDesc {
    padding-inline: 20px;
}

.taskDesc h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.subtaskTitle {
    font-weight: 600;
    /* font-size: 14px; */
    margin-top: 20px;
}

.completeTaskBtn:hover {
    background-color: #488DEB;
    width: fit-content;
}

.completeTaskBtnContainer {
    margin-top: 20px;
}