* {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
}
.Toastify__toast{
    display: flex;
    justify-content: space-between;
}
.Toastify__toast-body{
    width: 95%;
}
.Toastify__close-button{
    width: 20px;
}